body{
	font-family:sans-serif;
}

.logo{
	display:inline-block;
	float:left;
}

.nav{
	display:inline-block;
	font-family:sans-serif;
	text-align:right;
	float:right;
}
nav.a{
	display:inline-block;
	font-family:sans-serif;
	text-align:right;
	float:right;
}

article.left{
	width:200 px;
	display:inline-block;
	width: 200px;
	padding: 0 2em 2em 2em;


}