body{
	font-family:sans-serif;
}

h2{
	font-family: sans-serif;
}

h3{
	font-family: sans-serif;
}

.nav-top{
	font-family:sans-serif;
	float:right;
	font-weight: bold;
}

.nav-left{
	float:left;
	width:50px;
	font-family:sans-serif;
	font-weight: bold;
}

.float-right{
	font-family:sans-serif;
	float:right;
	width: 200px;
	font-weight: bold;